extends layouts/main-layout.pug

block content    
    .resultsContainer

block headerButton 
    a(href="messages/new") 
        i.far.fa-plus-square.icon 

block script 
    script(src="/common/notificationsPage.js")       