extends layouts/main-layout.pug

block content    

    .searchBarContainer 
        i.fas.fa-search 
        input#searchBox(type="text", name="searchBox", data-search=selectedTab, placeholder="Search...")

    .tabsContainer
        +createTab("Posts", `/search/posts`, selectedTab != "users")
        +createTab("Users", `/search/users`, selectedTab == "users")

    .resultsContainer

    +createPostModals(userLoggedIn)

block script
    script(src="/common/search.js")