:root {
    --primary-color: #1FA2F1;
    --hover-color: #4285F4;
    --light-grey: #757575;
    --dark-grey: #212121;
    --background-color: #121212;
    --text-color: #f8f9fa;
    --spacing: 15px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

nav a {
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: all 0.1s ease;
}

nav a.blue {
    color: var(--blue);
}

nav a:hover {
    background-color:white;
    color: black;
    border-radius: 30%;
}

.mainContainer {
    padding: 0 var(--spacing);
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-grey);
    flex-shrink: 0;
}

.titleContainer h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.postFormContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: var(--spacing);
    padding-top: 10px; /* Adjust the top padding to make it smaller */
    padding-bottom: 10px; /* Adjust the bottom padding to make it smaller */
    margin-bottom: var(--spacing);
}

.userImageContainer {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: var(--spacing);
}

.userImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textareaContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textareaContainer textarea {
    width: 100%;
    min-height: 100px;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    padding: 10px;
    font-size: 16px;
    resize: none;
    margin-bottom: var(--spacing);
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
}
button i,
button span{
    pointer-events: none;
}

#submitPostButton {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
    cursor: pointer;
}

#submitPostButton:disabled {
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: var(--dark-grey);
    margin-bottom: var(--spacing);
}

.post:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mainContentContainer {
    flex: 1;
    display: flex;
    padding: var(--spacing);
}

.postContentContainer {
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.username,
.date {
    color: var(--light-grey);
}

.displayName {
    font-weight: bold;
    color: var(--text-color);
}

.postBody {
    color: var(--text-color);
    margin-top: 10px;
    line-height: 1.5;
}

.postFooter {
    display: flex;
    align-items: center;
    margin-top: var(--spacing);
}

.postFooter .postButtonContainer {
    display: flex;
    align-items: center;
    margin-right: var(--spacing);
}

.postFooter .postButtonContainer button {
    padding: 5px;
    background-color: transparent;
    border: none;
    color: var(--light-grey);
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

.postFooter .postButtonContainer button:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

.userImageContainer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: var(--spacing);
}
.postButtonContainer.red button.active{
    color: rgb(226, 34, 94) ;
}
.postButtonContainer.blue button.active{
    color: #00ffc3 ;
}