:root {
    --primary-color: #1FA2F1;
    --hover-color: #4285F4;
    --light-grey: #757575;
    --dark-grey: #212121;
    --background-color: #121212;
    --text-color: #f8f9fa;
    --spacing: 15px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
.wrapper > .row{
    margin: 0;

}
a:hover {
    color: var(--hover-color);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

nav a {
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: all 0.1s ease;
}

nav a.blue {
    color: var(--blue);
}

nav a:hover {
    background-color:white;
    color: black;
    border-radius: 30%;
}

.mainContainer {
    padding: 0 var(--spacing);
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-grey);
    flex-shrink: 0;
}

.titleContainer h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.postFormContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: var(--spacing);
    padding-top: 10px; /* Adjust the top padding to make it smaller */
    padding-bottom: 10px; /* Adjust the bottom padding to make it smaller */
    margin-bottom: var(--spacing);
}

.userImageContainer {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: var(--spacing);
}


.textareaContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textareaContainer textarea {
    width: 100%;
    min-height: 100px;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    padding: 10px;
    font-size: 16px;
    resize: none;
    margin-bottom: var(--spacing);
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
}
button i,
button span{
    pointer-events: none;
}

#submitPostButton {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
    cursor: pointer;
}

#submitPostButton:disabled {
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: var(--dark-grey);
    margin-bottom: var(--spacing);
}

.post:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mainContentContainer {
    flex: 1;
    display: flex;
    padding: var(--spacing);
}

.postContentContainer {
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.username,
.date {
    color: var(--light-grey);
}

.displayName {
    font-weight: bold;
    color: var(--text-color);
}

.postBody {
    color: var(--text-color);
    margin-top: 10px;
    line-height: 1.5;
}

.postFooter {
    display: flex;
    align-items: center;
    margin-top: var(--spacing);
}

.postFooter .postButtonContainer {
    display: flex;
    align-items: center;
    margin-right: var(--spacing);
}

.postFooter .postButtonContainer button {
    padding: 5px;
    background-color: transparent;
    border: none;
    color: var(--light-grey);
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

.postFooter .postButtonContainer button:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

.userImageContainer img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: var(--spacing);
}
.postButtonContainer.red button.active{
    color: rgb(226, 34, 94) ;
}
.postButtonContainer.blue button.active{
    color: #00ffc3 ;
}
.abovePost{
    padding-left: 35px;
    font-size: 15px;
    color:rgb(167, 167, 167);
    margin-bottom: 5px;
}
/* Dark-themed modal */
#exampleModalLong {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.modal-content {
    background-color: #191919; /* Dark background color */
    color: #fff; /* Light text color */
}

.modal-header {
    border-bottom: 1px solid #777; /* Dark border bottom */
}  

.modal-body, .modal-footer {
    padding: 20px; /* Padding for body and footer */
}

.modal-footer button {
    color: #fff; /* Light text color for buttons */
}

.modal-footer button.btn-primary {
    background-color: #0e539c; /* Primary button color */
}

.modal-footer button.btn-secondary {
    background-color: #6c757d; /* Secondary button color */
}

.modal-footer button.close {
    color: #fff; /* Light text color for close button */
}
button.close {
  background-color: #222222; /* Background color */
  color: #ffffff; /* Text color */
  border: none; /* Remove border */
  padding: 5px 10px; /* Adjust padding */
  border-radius: 20%; /* Make it round */
  cursor: pointer; /* Change cursor to pointer on hover */
}

button.close:hover {
  background-color: #ffffff; /* Darker background color on hover */
    color: black;
}
.modal .postFormContainer{

    border:none;
    padding:0;
    padding-top: var(--spacing);
}
#submitReplyButton:disabled {
    background-color: #425c6d;
    color: var(--dark-grey);
}
.modal .post{
    padding:0 0 var(--spacing ) 0;
}
.replyFlag{
    margin-bottom: 5px;
}
.replyFlag a{
    color: #009dff;
}
.post.largeFont .postBody,
.post.largeFont .postFooter{
    font-size: 20px;

}


.profileHeaderContainer  .coverPhotoContainer {
    position: relative;
    height: 200px; /* Adjust height as needed */
    width: 100%;
    background-color: #1da1f2; /* Default cover photo background color */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

 .profileHeaderContainer  .userImageContainer {
    position: absolute;
    bottom: -50px; /* Adjust positioning as needed */
    left: 20px; /* Adjust positioning as needed */
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    border: 3px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;

}

 .profileHeaderContainer  .userImageContainer img.userImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileButtonsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.profileButton,.followButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #272a2b;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}
.profileButton:hover {
    background-color: white;
    color:black;
}

.followButton:hover {
    background-color: white;
    color:black;
}
.followButton.following{
    background-color: #1da1f2;
    color: white;
}
.profileHeaderContainer .userInfoContainer  {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing);
    margin-top: 20px;
    position: relative;
}
.followersContainer .value {
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 5px;
}

.followersContainer span:not(.value) {
    color: rgb(180, 177, 177);

}
.followersContainer a{
    margin-right: 15px;
    
}
.followersContainer a:hover{
    color: white;
    border-bottom: 1px solid white;
}
.tabsContainer{
    display: flex;
    border-bottom: 1px solid rgb(131, 131, 131);
    flex-shrink: 0;
}

.tab{
    flex:1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--light-grey);
    font-weight: bold;
}
.tab.active{
    color:white;
    border-bottom: 2px solid white;

}

.tab:hover{
    color:black;
    background-color: white;
    border-bottom: 2px solid white;
}
.noResults{
    padding: var(--spacing);
}
.resultsContainer{
    font-size: 19px;
    display: flex;
    flex-direction: column;

}
.resultsContainer .user{
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid rgb(131, 131, 131);

}
.user .userDetailsContainer{
    flex:1 ;
    display: 0 var(--spacing);

}

.profilePictureButton {
    position: absolute;
    top: -30px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    background-color:#191919;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.coverPhotoButton{
    position: absolute;
    top: -30px; /* Adjust the top position as needed */
    right: 260px; /* Adjust the right position as needed */
    background-color:#191919;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.profilePictureButton:hover {
    background-color:white;
    color: black;
}
.coverPhotoButton:hover {
    background-color:white;
    color:black
}
#imagePreview,#coverPreview{
    width:100%;
    display: block;
    max-width: 100%;
}
.coverPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.searchBarContainer{
    position: relative;
    color:var(--light-grey) ;
    padding:10px var(--spacing) ;
    

}
.searchBarContainer i{
    position: absolute;
    top:20px ;
    left:20px ;

}
.searchBarContainer #searchBox{
    height: 36px;
    width: 100%;
    padding: 5px 15px 5px 40px;
    border-radius: 20px;
    border: 1px solid var(--light-grey);
    background-color:#ebebeb;
    color: black;
    font-size: 23px;

}
.icon{
    margin-left:  40px;
    font-size: 30px;
}

.icon:hover{
    color: var(--primary-color);
}
.chatPageContainer{
    display: flex;
    flex-direction: column;
    min-height: 0;

}
.chatTitleBar{
    border-bottom: 1px solid var(--light-grey);
    display: flex;
    align-items: center;
    min-height: 60px;
    font-size: 22px;
    padding: 10px var(--spacing);

}
.chatTitleBar label{
    margin-right: 10px ;
}
#userSearchTextbox{
    border: none;
    flex:1 ;
    font-weight: 200px;
    min-width: 350px;
}
#createChatButton{
    border:none;
    background-color:#0e539c;
    color:white;
    padding: 7px 20px;
    margin:10px auto;
    border-radius: 7px;
    cursor: pointer;

    
}
#createChatButton:disabled{
    background-color: var(--light-grey);
    color: var(--dark-grey);

}
.selectedUser{
    font-weight: 300;
    background-color:rgb(158, 197, 255);
    color: black;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 5px 0 0;
    display: inline-block;

}